@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  transition: ease-in .15s;
}

body {
  background-color: #0a0b16;
  font-family: "Montserrat", sans-serif;;
}

.head {
  background-color: #0a0b16;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.cont {
  width: 90%;
  margin: 20px auto;
}

.cont1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.challenges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.chall {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  text-decoration: none;
  padding: 6px;
  font-size: 18px;
  box-shadow: 0px 1px 5px #00000018;
  background-color: #6c79ff;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
}
.eday{
  font-size: 28px;
  font-weight: 600;
}

.chall:hover {
  background-color: #3b48d6;
  transform: scale(0.95);
}
.ename{
  font-size: 14px;
}
.me {
  padding: 6px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.me:hover {
  color: #5a62d1;
}