@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: ease-in .15s;
}

:root {
  --fuente: "Poppins", sans-serif;
}


body {
  background-color: #EEF2F9;
  font-family: var(--fuente);
}

.cont {
  display: grid;
  place-content: center;
  height: 100dvh;
}

.card {
  width: 887px;
  height: 661px;
  background-color: #FFF;
  box-shadow: 0 24px 28px rgba(179, 193, 217, 0.33);
  display: flex;
  justify-content: center;
  align-items: flex-start
}


.prod {
  object-fit: contain;
  width: 249px;
  height: 223px;
}

.prodcont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sec {
  display: flex;
  flex-direction: column;
}

.tag {
  background-color: #191847;
  align-self: flex-start;
  color: #FFF;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  gap: 10px;
}

.title {
  font-size: 24px;
  color: #191847;
  width: 419px;
  font-weight: 600;
  line-height: 36px;
}

.priceb {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-decoration: line-through;

}

.pricea {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #191847;
}

.inf {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #191847;
  opacity: 60%;
}

.add {
  background-color: #4788E9;
  box-shadow: 0 7px 0 #1C57EE;
  color: #FFF;
  gap: 10px;
  border-radius: 8px;
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  border: none;
  cursor: pointer;
}

.add:hover {
  background-color: #1e78fd;
}

.add:active {
  box-shadow: none;
  transform: translateY(7px);
}

.points {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
}

.dot {
  background-color: #00D98B;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.pointlabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.actions button {
  border-radius: 8px;
  border: 2px solid #C9C9DA;
  padding: 16px;
  gap: 10px;
  color: #191847;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.actions button:hover {
  background-color: #C9C9DA;
}
.actions button:active {
  transform: scale(0.90);
}